.strong {
    padding: 0px;

}

/*  Estilos Generales */
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background-color: #f2f2f2;
}

/* Estilos de la cabecera */
header {
    width: 1212px;
    height: 140px;
    background-color: #23282b;
    margin: 0px auto;
}

.logotipo h1 {
    display: block;
    float: left;
    margin-top: 10px;
    margin-left: 30px;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    font-weight: lighter;
    color: #42a096;
}

.logotipo img {
    display: block;
    width: 80px;
    float: left;
    margin-top: 20px;
}

.logotipo {
    /* display: flex;
    justify-content: center; */
    width: 75%;
    height: 110px;
    margin: 0 auto;
    padding-top: 10px;
}

/* Estilos menu de navegacion */
nav {
    width: 1250px;
    height: 40px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    margin: 0 auto;
    box-shadow: 0px 22px 22px gray;
    font-size: 15px;
    /* margin-bottom: 145px; */
}

nav ul {
    list-style: none;
    text-decoration: none;
}

nav ul li {
    line-height: 40px;
    float: left;
}

nav ul li a {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    color: #d1d4d6;
}

nav ul li a:hover {
    background-color: #2ba977;
    box-shadow: 0px 0px 5px #333333 insert;
    color: white;
    transition: all 300ms;
}

/* Efecto 3D barra de navegacion */
.barra {
    width: 1250px;
    margin: 0 auto;
    /* margin-bottom: 140px; */
}

.esquina-izquierda {
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.esquina-derecha {
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno-barra {
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2f30;
    float: left;
}

/* Estilos de contenido central */
#content {
    width: 1212px;
    min-height: 930px;
    /* margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 40px; */
    margin: 40px auto 30px auto;
}

.box {
    background-color: white;
    width: 95%;
    min-height: 930px;
    padding: 20px;
    border: 1px solid #dddd;
    margin: 0 auto;
}

/* Aplicamos estilos a los titulos */
.title {
    color: #444;
    letter-spacing: 1px;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

footer {
    width: 1250px;
    background-color: #1b1e1f;
    border: 1px solid #333333;
    color: #d1d4d6;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 20px gray;
    margin: 0 auto;
    font-size: 20px;
}

p{
    margin-top: 5px;
    margin-bottom: 10px;
}

.box p,h2,h3,.box ul{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box ul li{
    margin-left: 40px;
    line-height: 40px;
}

.lista_datos ul li{
    list-style: none;
}

.lista_datos ul li strong{
    color: red;
}