/* Define un estilo para elementos <strong> sin ningún espacio de relleno */
.strong {
    padding: 0px; /* Se establece el relleno como 0 */
}

/* Estilos Generales */
/* Estilos básicos para todos los elementos */
* {
    margin: 0px; /* Se establece el margen como 0 para todos los elementos */
    padding: 0px; /* Se establece el relleno como 0 para todos los elementos */
    font-family: Arial, Helvetica, sans-serif; /* Se define la fuente */
    text-decoration: none; /* Se elimina la decoración de texto para todos los elementos */
}

/* Color de fondo para el cuerpo de la página */
body {
    background-color: #f2f2f2; /* Se establece el color de fondo */
}

/* Estilos de la cabecera */
header {
    width: 1212px; /* Ancho del encabezado */
    height: 140px; /* Altura del encabezado */
    background-color: #23282b; /* Color de fondo del encabezado */
    margin: 0px auto; /* Margen automático */
}

/* Estilos para el logotipo */
.logotipo h1 {
    display: block; /* Se muestra como bloque */
    float: left; /* Se flota a la izquierda */
    margin-top: 10px; /* Margen superior */
    margin-left: 30px; /* Margen izquierdo */
    letter-spacing: 2px; /* Espaciado entre letras */
    font-weight: lighter; /* Grosor de la fuente */
    color: #42a096; /* Color del texto */
    padding: 30px; /* Relleno */
}

.logotipo img {
    display: block; /* Se muestra como bloque */
    width: 80px; /* Ancho de la imagen */
    float: left; /* Se flota a la izquierda */
    margin-top: 20px; /* Margen superior */
}

.logotipo {
    width: 75%; /* Ancho del logotipo */
    height: 110px; /* Altura del logotipo */
    margin: 0 auto; /* Margen automático */
    padding-top: 10px; /* Relleno superior */
}

/* Estilos del menú de navegación */
nav {
    width: 1250px; /* Ancho de la barra de navegación */
    height: 40px; /* Altura de la barra de navegación */
    background-color: #1b1e1f; /* Color de fondo de la barra de navegación */
    border: 1px solid #333333; /* Borde de la barra de navegación */
    margin: 0 auto; /* Margen automático */
    box-shadow: 0px 22px 22px gray; /* Sombra */
    font-size: 15px; /* Tamaño de fuente */
}

nav ul {
    list-style: none; /* Elimina los marcadores de lista */
    text-decoration: none;
}

nav ul li {
    line-height: 40px; /* Altura de línea */
    float: left; /* Alineación de elementos a la izquierda */
}

nav ul li a {
    display: block; /* Se muestra como bloque */
    padding-left: 20px; /* Relleno izquierdo */
    padding-right: 20px; /* Relleno derecho */
    color: #d1d4d6; /* Color del texto */
}

nav ul li a:hover {
    background-color: #2ba977; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 0px 5px #333333 inset; /* Sombra */
    color: white; /* Color del texto al pasar el cursor */
    transition: all 300ms; /* Transición suave */
}

/* Efecto 3D para la barra de navegación */
.barra {
    width: 1250px; /* Ancho de la barra */
    margin: 0 auto; /* Margen automático */
}

.esquina-izquierda {
    display: block;
    border-left: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: left;
}

.esquina-derecha {
    display: block;
    border-right: 20px solid transparent;
    border-top: 10px solid #2b2f30;
    float: right;
}

.relleno-barra {
    display: block;
    width: 1210px;
    height: 10px;
    background: #2b2f30;
    float: left;
}

/* Estilos de contenido central */
#content {
    width: 1212px; /* Ancho del contenido */
    min-height: 930px; /* Altura mínima del contenido */
    margin: 40px auto 30px auto; /* Margen */
}

.box {
    background-color: white; /* Color de fondo */
    width: 95%; /* Ancho de la caja */
    min-height: 930px; /* Altura mínima */
    padding: 20px; /* Relleno */
    border: 1px solid #dddd; /* Borde */
    margin: 0 auto; /* Margen automático */
}

/* Estilos de los títulos */
.title {
    color: #444; /* Color del texto */
    letter-spacing: 1px; /* Espaciado entre letras */
    font-size: 30px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
    margin-top: 5px; /* Margen superior */
}

footer {
    width: 1250px; /* Ancho del pie de página */
    background-color: #1b1e1f; /* Color de fondo */
    border: 1px solid #333333; /* Borde */
    color: #d1d4d6; /* Color del texto */
    text-align: center; /* Alineación del texto */
    padding-top: 10px; /* Relleno superior */
    padding-bottom: 10px; /* Relleno inferior */
    box-shadow: 0px 0px 20px gray; /* Sombra */
    margin: 0 auto; /* Margen automático */
    font-size: 20px; /* Tamaño de fuente */
}

p {
    margin-top: 5px; /* Margen superior */
    margin-bottom: 10px; /* Margen inferior */
}

/* Estilos para listas, párrafos y encabezados dentro de .box */
.box p, h2, h3, .box ul {
    margin-top: 5px; /* Margen superior */
    margin-bottom: 5px; /* Margen inferior */
}

.box ul li {
    margin-left: 40px; /* Margen izquierdo */
    line-height: 40px; /* Altura de línea */
}


/* Estilos para una lista de datos */
.lista_datos {
    width: 100%; /* Ancho completo */
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

/* Estilos para una tabla de artículos */
.tabla_articulos {
    border-collapse: collapse; /* Colapsar bordes de celda */
    margin: 30px 0; /* Margen */
    font-size: 1em; /* Tamaño de fuente */
    font-family: Arial, Helvetica, sans-serif; /* Fuente */
    min-width: 500px; /* Ancho mínimo */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); /* Sombra */
}

.tabla_articulos thead tr {
    background-color: #00a6ff; /* Color de fondo para la fila del encabezado */
    color: #ffffff; /* Color del texto en el encabezado */
    text-align: middle; /* Alineación del texto */
}

.tabla_articulos th,
.tabla_articulos td {
    border: 1px solid #dddddd; /* Borde para celdas */
    padding: 12px 15px ; /* Relleno */
    text-align: center; /* Alineación del texto */
}

/* Estilos para el título de los artículos */
.title-articulos {
    color: red; /* Color del texto */
    width: 100%; /* Ancho completo */
    text-align: center; /* Alineación del texto */
    font-size: 50px; /* Tamaño de fuente */
}

/* Estilos para los botones de eliminar en la lista de datos */
.lista_datos .boton-eliminar {
    background-color: red; /* Color de fondo */
    padding: 5px; /* Relleno */
    font-weight: 700; /* Grosor de la fuente */
    border: solid black; /* Borde */
    border-radius: 5px; /* Radio de borde */
}

.lista_datos .boton-eliminar a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
}

/* Estilos para los botones de actualizar en la lista de datos */
.lista_datos .boton-actualizar {
    background-color: greenyellow; /* Color de fondo */
    padding: 5px; /* Relleno */
    font-weight: 700; /* Grosor de la fuente */
    border: solid black; /* Borde */
    border-radius: 5px; /* Radio de borde */
}

.lista_datos .boton-actualizar a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
}

/* Estilos para el estado público en la lista de datos */
.lista_datos .estado-publico {
    color: blue; /* Color del texto */
}

/* Estilos para el estado privado en la lista de datos */
.lista_datos .estado-privado {
    color: orangered; /* Color del texto */
}

/* Estilos para la sección de agregar */
.agregar {
    display: flex; /* Mostrar como flexbox */
    justify-content: center; /* Centrar horizontalmente */
}

.agregar h2 {
    color: red; /* Color del texto */
}

.agregar button {
    background-color: green; /* Color de fondo */
    border: solid black; /* Borde */
    border-radius: 5px; /* Radio de borde */
    margin-left: 15px; /* Margen izquierdo */
    padding: 10px; /* Relleno */
}

.agregar button a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
}

/* Estilos generales para formulario */
.formulario {
    margin-top: 25px; /* Margen superior */
    margin-left: 25px; /* Margen izquierdo */
    margin-right: 25px; /* Margen derecho */
    padding: 15px; /* Relleno */
    background-color: grey; /* Color de fondo */
}

.formulario h1 {
    color: whitesmoke; /* Color del texto */
    text-align: center; /* Alineación del texto */
    margin-bottom: 15px; /* Margen inferior */
}

.formulario label {
    color: whitesmoke; /* Color del texto */
    display: block; /* Se muestra como bloque */
    font-size: 25px; /* Tamaño de fuente */
}

.formulario input[type="text"],
.formulario textarea {
    width: 80%; /* Ancho del campo de texto */
    padding: 10px; /* Relleno */
    border: solid black; /* Borde */
    border-radius: 5px; /* Radio de borde */
}

.formulario button {
    padding: 10px; /* Relleno */
    margin-top: 10px; /* Margen superior */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    display: block; /* Se muestra como bloque */
}

.tabla_articulos img{
    width: 100px;
    height: 100px;
}