{% extends 'layout.html' %}

{% block title %}
    Lista de Articulos
{% endblock %}

{% block content %}
<h2 class="title-articulos"><strong>Lista de articulos</strong></h2>
<div class="lista_datos">
    <table class="tabla_articulos">
        <thead>
            <tr>
                <th>ID </th>
                <th>Titulo </th>
                <th>Contenido </th>
                <th>Estado </th>
            </tr>
        </thead>
        <tbody>
            {% for article in articulos %}
                <tr>
                    <td>{{article.id}}</td>
                    <td>{{article.title}}</td>
                    <td>{{article.content}}</td>
                    <td>{{article.public}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}