{% extends 'layout.html' %}

{% block title %}
    Lista de Articulos
{% endblock %}

{% block content %}
    <h2 class="title-articulos"><strong>Lista de articulos</strong></h2>
        <div class="lista_datos">
            <table class="tabla_articulos">
                <thead>
                    <tr>
                        <th>ID </th>
                        <th>Titulo </th>
                        <th>Descripcion </th>
                        <th>imagen</th>
                        <th>Estado </th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articulos %}
                        <tr>
                            <td>{{article.id}}</td>
                            <td>{{article.title}}</td>
                            <td>{{article.content}}</td>
                            <td>
                                {% if article.image %}
                                    <img src="{{article.image.url}}" alt="">
                                {% endif %}
                            </td>
                            <td>
                                {% if article.public%}
                                    <strong class="estado-publico">Publico</strong>
                                {% else %}
                                    <strong class="estado-privado">Privado</strong>
                                {% endif %}
                            </td>
                            <td>
                                <button class="boton-eliminar" onclick="return confirmar_borrar()">
                                    <a href="{% url "eliminar_articulo" article.id %}">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </button>
                                <button class="boton-actualizar">
                                    <a href="{% url "actualizar_articulo" article.id %}">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div class="agregar">
        <h2><strong>¿Deseas Agregar un nuevo articulo?</strong></h2>
        <button><a href="{% url "registrar_articulo" %}">Agregar Articulo</a></button>
    </div>
    <script src="https://kit.fontawesome.com/93981ca0bd.js" crossorigin="anonymous"></script>
{% endblock %}
