{% extends 'layout.html' %}

{% block seccion %}
    {% comment 'inicio' %} <strong>Ejercicios</strong> {% endcomment %}
{% endblock %}

{% block title %}
    Ejercicios
{% endblock %}

{% block content %}
    <h2>Ejemplos de bucles</h2><br>
    
    {% comment 'Bucle For'%} Se crea un bucle de la misma manera que se crea una condicional y se llama a la variable correspondiente {% endcomment %}

    <strong>Lista de nombres: </strong><br>

    <ul>
        <p>
            {% for prueba in lista %}
                <li>{{prueba}}</li>
                {% empty %}
                    <p>No hay datos para mostrar</p>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Numeros del 1 al 10: </strong><br>

    <ul>
        <p>
            {% for number in numeros %}
                <li>{{number}}</li>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Lista vacia: </strong>

    <ul>
        <p>
            {% for nombre in nombres %}
                <li>{{nombre}}</li>
                {% empty %}
                    <p>No hayelementos</p>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Primer nombre de la lista (True): </strong><br>

    <ul>
        <p>
            {% for prueba in lista %}
                <li>{{prueba}} ({{forloop.first}})</li>
                {% empty %}
                    <p>No hayelementos</p>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Ultimo nombre de la lista (True): </strong><br>

    <ul>
        <p>
            {% for prueba in lista %}
                <li>{{prueba}} ({{forloop.last}})</li>
                {% empty %}
                    <p>No hayelementos</p>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Contar los nombres: </strong><br>

    <ul>
        <p>
            {% for prueba in lista %}
                <li>{{prueba}} ({{forloop.counter}})</li>
                {% empty %}
                    <p>No hayelementos</p>
            {% endfor %}
        </p><br>
    </ul>

    <strong>Contar los numeros en reversa: </strong><br>

    <ul>
        <p>
            {% for prueba in lista %}
                <li>{{prueba}} ({{forloop.revcounter}})</li>
                {% empty %}
                    <p>No hayelementos</p>
            {% endfor %}
        </p><br>
    </ul>


    <strong><h1>Filtros en templates</h1></strong><br>

    <strong>ADD</strong><br><br>

    <p>
        En este ejercicio tenemos la siguiente lista: 'value':[1,2,3]<br>
    <br>
    Lo que hacemos con el filtro <strong>"add"</strong> en este caso es sumar 2 a cada uno de los valores de la lista, que en este caso son [1,2,3], y el resultado que nos arroja es:
    </p><br>

    <ul>
        <p>
            {% for add_numero in value %}
                <li>{{add_numero|add:"2"}}</li>
            {% endfor %}
        </p><br>
    </ul>

    <p>
        En este ejercicio tenemos la siguiente lista: 'lista':["Nicolas P.", "Juan Carlo P.", "Sara V.", "Maria Alejandra R."]<br><br>
        Lo que hacemos con el filtro <strong>"add"</strong> en este caso es agregarle el nombre de "Andres Barragan" a cada uno de los nombres que se encuentran en la lista:
    </p><br>

    <ul>
        <p>
            {% for add_nombre in lista %}
                <li>{{add_nombre|add:" (Andres Barragan)"}}</li>
            {% endfor %}
        </p><br>
    </ul>
    
    <strong>CUT</strong><br><br>

    <p>
        En este caso al momento de usar el filtro <strong>"cut"</strong> estamos eliminando de la cadena de texto la cual es:<br><br>'correoE': "nicolas. paulo. vega. 06 @ gmail. com"<br><br>La cantidad de espacios que existan en la cadena anterior mostrando el siguiente resultado:
    </p>
    
    <ul>
        <p>
            <li>{{correoE|cut:" "}}</li>
        </p>
    </ul><br><br>

    <strong>DIVISIBLEBY</strong><br><br>

    <p>
        En este caso, se utiliza el filtro <strong>"divisibleby"</strong> para marcar si el número que nosotros escojamos es divisible por el número que se encuentra en una variable. Por ejemplo, tenemos lo siguiente:<br><br>'divisible': 30<br><br>Si tenemos que el número 30 es divisible por 5, entonces el resultado que nos debe salir es True. Pero si no es divisible por tal número, debería salir False, como lo siguiente:
    </p>

    <ul>
        <p>
            <li>Es divisible por 5? ({{divisible|divisibleby:"5"}})</li>
            <li>Es divisible por 7? ({{divisible|divisibleby:"7"}})</li>
            <li>Es divisible por 2? ({{divisible|divisibleby:"2"}})</li>
            <li>Es divisible por 9? ({{divisible|divisibleby:"9"}})</li>
        </p>
    </ul><br><br>

    <strong>JOIN</strong><br><br>

    <P>
        En este caso usamos el filtro <strong>"join"</strong> para unir una línea de texto a una lista ya creada. Un ejemplo puede ser con la lista de nombres:<br><br>'lista': ["Nicolas P.", "Juan Carlo P.", "Sara V.", "Maria Alejandra R."]<br><br>Podemos añadirle al texto una medida de separación que no sean las comas; pueden ser un doble slash (//). El resultado será el siguiente:
    </p>

    <ul>
        <p>
            <li>{{lista|join:" // "}}
        </p>
    </ul><br><br>

    <strong>LENGTH</strong><br><br>

    <P>
        En este caso usamos el filtro <strong>"length"</strong> para calcular la longitud de una cadena de texto y una lista, las cuales son: (Cadena de texto: 'letras': "Hola mundo!!") y (Lista: 'value': [1,2,3]). El resultado de cada uno debería ser el siguiente:
    </P>

    <ul>
        <p>
            <li>Cadena de texto: {{letras|length}}</li>
            <li>Lista: {{value|length}}</li>
        </p>
    </ul><br><br>

    <strong>LENGTH_IS</strong><br><br>

    <P>
        En este caso, vamos a calcular la longitud de una cadena de texto y una lista, las cuales son: (Cadena de texto: 'letras': "Hola mundo!!") y (Lista: 'value': [1,2,3]). Pero en esta ocasión, vamos a establecer que el filtro <strong>"length"</strong> cumpla una condición y nos muestre el resultado como True. Sin embargo, si no se cumple, el resultado sería False. Para este ejemplo, vamos a decir que para la cadena de texto la longitud debe ser de 12 y en la lista la longitud debería ser de 5. Veamos el resultado:
    </P>

    <ul>
        <p>
            <li>Cadena de texto: {{letras|length_is:"12"}}</li>
            <li>Lista: {{value|length_is:"5"}}</li>
        </p>
    </ul><br><br>

    <strong>RANDOM</strong><br><br>

    <P>
        Para este caso, usamos el filtro <strong>"random"</strong> cuando queremos mostrar un elemento aleatorio. Un ejemplo puede ser de una lista de texto ('lista': ["Nicolas P.", "Juan Carlo P.", "Sara V.", "Maria Alejandra R."]) y una lista numérica ('value': [1, 2, 3]). El resultado sería el siguiente:
    </P>

    <ul>
        <p>
            <li>lista de texto: {{lista|random}}</li>
            <li>Lista numérica: {{value|random}}</li>
        </p>
    </ul><br><br>

    <strong>SLICE</strong><br><br>

    <P>
        En este caso, lo que vamos a hacer es utilizar el filtro "slice" para devolver una porción de una lista. Para este caso, utilizaremos una lista la cual es la siguiente:<br><br>
        
        'aprendices': ["Juan Diego", "Mathew Guarnizo", "Maria Fernanda", "Nicolas Paulo", "Miguel Angel", "Maicol Esteban", "Kevin Londoño", "Marlon", "Maria Jose", "Nataly"]<br><br>
        
        Ahora vamos a escoger una porción de 5 elementos de la lista y el resultado debería ser el siguiente:
    </P>

    <ul>
        <p>
            <li>{{aprendices|slice:"4"}}</li>
        </p>
    </ul><br><br>

    <strong>SLUGIFY</strong><br><br>

    <P>
        En este caso, lo que hacemos con el filtro <strong>"slugify"</strong> es reemplazar los espacios con guiones. Entonces, si tenemos el siguiente texto: 'correoE': "nicolas. paulo. vega. 06 @ gmail. com", el texto ya no tendrá espacios, sino que tendríamos lo siguiente:
    </P>

    <ul>
        <p>
            <li>texto: {{correoE|slugify}}</li>
        </p>
    </ul><br><br>

    <p><strong>Referencia:</strong> <a href="https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#ref-templates-builtins-filters" target="_blank">https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#ref-templates-builtins-filters</a></p>

{% endblock %}