{% extends 'layout.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Registro
{% endblock %}

{% block content %}

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            This is a danger alert—check it out!
        </div>
    {% endif%}

    <h1>Registro de Articulo</h1>

    <form action="{% url "guardar_articulo" %}" method="POST">
        {% csrf_token %}
        {% if mensaje %}
            <div class="alert alert-success" role="alert">
                Articulo registrado exitosamente!
            </div>
        {% endif%}

        {{ form|crispy }}
        
        <button type="submit" class="btn btn-primary btn-lg btn-block">Block level button</button>
    </form>

{% endblock %}