{% extends 'layout.html' %}

{% block seccion %}
    {% comment 'inicio' %} <strong>Inicio</strong> {% endcomment %}
{% endblock %}

{% block title %}
    {% comment 'nombre pagina' %} Inicio {% endcomment %}
    {{titulo}}
{% endblock %}

{% block content %}
<h2 class="title"> Inicio </h2><br>
    {{block.super}}
        <h1 class="titulo">{{title}}</h1><br>
        {{mi_variable}}

        {% comment 'Condicion' %} Se crea una condicion la cual mostrará el nombre que este ubicado dentro de la variable si no se encuentra no se mostrará. {% endcomment %}
        {% if name == 'Nicolas Paulo Vega'%}
            <p>{{name}}</p>
        {% else %}
            <strong>Nombre no existe</strong>
        {% endif %}<br>

        <br><p><strong>Años desde el 2024 hasta 2050</strong></p>

        {% comment 'Numeros Divisibles' %} Se cera un bucle el cual cumplira una funcion para poder ejecutarse, divisibleby es un filtro que nos permite encontrar los numeros pares. {% endcomment %}

        <ul>
            {% for year in years%}
                {% if year|divisibleby:2 != 0 %}
                    <li>{{year}}</li>
                {% endif %}
            {% endfor %}
        </ul>
    
{% include 'fecha_actual.html' %}
{% endblock %}
