{% extends 'layout.html' %}

{% block seccion %}
    {% comment 'inicio' %} <strong>Inicio</strong> {% endcomment %}
{% endblock %}

{% block title %}
    {% comment 'nombre pagina' %} Inicio {% endcomment %}
    {{titulo}}
{% endblock %}

{% block content %}
<h2 class="title"> Inicio </h2><br>
    {{block.super}}
        <h1 class="titulo">{{title}}</h1><br>
        {{mi_variable}}

        {% comment 'Condicion' %} Se crea una condicion la cual mostrará el nombre que este ubicado dentro de la variable si no se encuentra no se mostrará. {% endcomment %}
        {% if name == 'Nicolas Paulo Vega'%}
            <p>{{name}}</p>
        {% else %}
            <strong>Nombre no existe</strong>
        {% endif %}

        {% comment 'Bucle For'%} Se crea un bucle de la misma manera que se crea una condicional y se llama a la variable correspondiente {% endcomment %}
        <p>
            {% for prueba in list%}
                <li>{{prueba}}</li>
            {% endfor %}
        </p><br>

        <p>
            {% for number in numeros %}
                <li>{{number}}</li>
            {% endfor %}
        </p>

        <p>Años desde el 2024 hasta 2050</p>
{% endblock %}