<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="../static/css/style.css"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    {% comment 'Informacion de la pagina'%} Proyecto en desarrollo de una pagina de ventas {% endcomment %}
    {% comment 'Cabeza de pagina'%} Cabeza de pagina {% endcomment %}
    <header>
        <div class="logotipo">
            {% comment 'Logotipo' %} Logo de Django {% endcomment %}
            <img src="../static/img/logo.webp" alt="">
            <h1>Sitio web con Django | Nicolas Paulo Vega</h1>
        </div>
    </header>
    {% comment 'menu' %} menu de navegacion {% endcomment %}

    <nav>
        <ul>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/hola_mundo">Hola Mundo</a>
            </li>
            <li>
                <a href="/saludo">Saludo</a>
            </li>
            <li>
                <a href="/presentacion">Presentacion</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
            <li>
                <a href="/productos_servicios">Productos y servicios</a>
            </li>
            <li>
                <a href="/quienes_somos">¿Quienes somos?</a>
            </li>
        </ul>
    </nav>

    {% comment 'Barra 3D'%} Se crea una barra 3D para el menu {% endcomment %}
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno-barra"></span>
        <span class="esquina-derecha"></span>
    </div>
        {% block seccion %}
        
        {% endblock %}

        {% comment 'Caja'%} Se crea una caja con el contenido de la pagina original {% endcomment %}
        <div id="content">
            <div class="box">
                {% block content %}
                    <strong> Contenido del bloque Original </strong>
                {% endblock %}
            </div>
        </div>

        {% comment 'copyright' %} Derechos de autor {% endcomment %}
        <footer>Master de Framework Django &copy; Nicolas Paulo Vega</footer>
</body>
</html>