<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" text="text/css" href="../static/css/style.css"/>
    <title>
        {% block title %}

        {% endblock %}
    </title>
</head>
<body>
    <!-- cabeza de pagina -->
    <header>
        <div class="logotipo">
            <!-- Logo tipo Django -->
            <h1>Sitio web con Django | Nicolas Paulo Vega</h1>
        </div>
    </header>

    <!-- menu de navegacion -->

    <nav>
        <ul>
            <li>
                <a href="/hola_mundo">Hola Mundo</a>
            </li>
            <li>
                <a href="/saludo">Saludo</a>
            </li>
            <li>
                <a href="/presentacion">Presentacion</a>
            </li>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
            <li>
                <a href="/productos_servicios">Productos y servicios</a>
            </li>
            <li>
                <a href="/quienes_somos">¿Quienes somos?</a>
            </li>
        </ul>
    </nav>

        {% block seccion %}
        
        {% endblock %}

        <div id="content">
            {% block content %}

            {% endblock %}
        </div>
        <footer>Master de Framework Django &copy; Nicolas Paulo Vega</footer>
</body>
</html>