<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sitio web con Django | Nicolas Paulo Vega</h1>
        </hr>
        <ul>
            <li>
                <a href="/hola_mundo">Hola Mundo</a>
            </li>
            <li>
                <a href="/saludo">Saludo</a>
            </li>
            <li>
                <a href="/presentacion">Presentacion</a>
            </li>
            <li>
                <a href="/">Inicio</a>
            </li>
            <li>
                <a href="/contacto">Contacto</a>
            </li>
        </ul>
</body>
</html>