{% extends 'layout.html' %}

{% block title %}
Productos y servicios
{% endblock %}

{% block seccion %}
    <strong>Productos y servicios</strong>
{% endblock %}

{% block content %}
<h2 class="title">Productos y Servicios</h2><br>
    {{block.super}}
        <h1>Productos y servicios</h1><br>

        <h3>Productos</h3><br>

        <li>
            Equipos de escritorio: Computadores de escritorio para uso personal, profesional o empresarial.
        </li>
        <li>
            Portátiles: Laptops para estudiantes, profesionales, viajeros y usuarios en movimiento.
        </li>
        <li>
            Tablets: Dispositivos móviles para entretenimiento, trabajo y educación.
        </li>
        <li>
            Impresoras: Impresoras láser, de inyección de tinta y multifunción para uso personal y profesional.
        </li>
        <li>
            Accesorios: Memorias USB, discos duros externos, teclados, ratones, monitores, software y mucho más.
        </li>

        <br><h3>Servicios</h3><br>

        <li>
            Reparación y mantenimiento de equipos: Reparación de computadores, laptops, tablets, impresoras y otros dispositivos.
        </li>
        <li>
            Asesoramiento técnico: Asesoramiento personalizado para la compra de equipos y software.
        </li>
        <li>
            Desarrollo de software: Desarrollo de software a medida para las necesidades específicas de nuestros clientes.
        </li>
        <li>
            Capacitación en tecnología: Cursos y talleres de capacitación en diferentes áreas de la tecnología.
        </li>

        <br><h3>Otros servicios</h3><br>

        <li>
            Venta de equipos de segunda mano: Ofrecemos equipos de segunda mano a precios económicos.
        </li>
        <li>
            Financiación: Ofrecemos opciones de financiación para la compra de equipos.
        </li>
        <li>
            Garantía: Todos nuestros productos y servicios tienen garantía.
        </li>

        <p>
            ¡No dudes en contactarnos para obtener más información sobre nuestros productos y servicios!
        </p>
{% endblock %}