{% extends 'layout.html' %}

{% block title %}
    ¿Quienes somos?
{% endblock %}

{% block seccion %}
    <strong>¿Quienes somos?</strong>
{% endblock %}

{% block content %}
<h2 class="title">¿Quienes somos?</h2><br>

    <h1>¿Quienes somos?</h1><br>
    
    <p>
        Somos una empresa apasionada por la tecnología que ofrece soluciones informáticas innovadoras y de alta calidad a nuestros clientes.
        <br><br>

        Nuestra amplia gama de productos y servicios incluye:
        <br><br>
        <li>
            Venta de computadores, tablets, impresoras y accesorios.
        </li>
        <li>
            Reparación y mantenimiento de equipos.
        </li>
        <li>
            Asesoramiento técnico.
        </li>
        <li>
            Diseño e implementación de redes.
        </li>
        <li>
            Desarrollo de software.
        </li>
        <li>
            Capacitación en tecnología.
        </li>
        <li>
            Nos comprometemos con la satisfacción de nuestros clientes y la mejora continua.
        </li>
        <br>
        
        ¡Visítanos y descubre cómo podemos ayudarte!
    </p>

{% endblock %}